<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <h3>IT</h3>
    <a href="/registrer" style="color:red;">Registrer bruker</a>
    <a href="/logginn" style="color:red;">Logg inn</a>
    <a href="/post_guide_side" style="color:red;">Legg til en guide</a>
  </header>

  {% block content %}
  
  {% endblock %}

  <footer>
    <h4>Laget av Albert og Sander 2INF</h4>
  </footer>
</body>
</html>