* {
    padding: 0;
    margin: 0;
    font-family:"Calibri", sans-serif;
}

header {
    height: 50px;
    background-color: #02577a;
    color: #d4f0fc;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


footer {
    height: 75px;
    background-color: #01303f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #d4f0fc;
    letter-spacing: 0.5px;
}

.div-regForm {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
}
.tittelForm {
    padding-bottom: 10px;
}
#formText {
    padding-top: 10px;
}
.registration-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.registration-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form input[type="submit"]:hover {
    background-color: #0056b3;
}
.index-knapp {
    width: 30%;
    height: 20vh;
    background-color: #0056b3;
    color: #d4f0fc;
    font-size: 40px;
}